@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.b-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel {
  &-img {
    width: 100%;
    object-fit: cover;
    max-height: 45vw;
    margin-top: 74px;
  }

  &-caption {
    background: rgba(0, 0, 0, 0.5);
  }
}

.time {
  &_pessoa {
    img {
      object-fit: cover;
      width: 200px;
      height: 200px;
    }

    &_social_link {
      i {
        transition: 0.3s all;
      }

      &:hover i {
        opacity: 0.7;
      }
    }
  }
}

.produtos {
  &_produto {
    width: 280px;
    transition: 0.5s all;
    img {
      object-fit: cover;
      object-position: bottom;
      height: 360px;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}
